
.container-fluid {
  position: relative;
  background-color: rgb(13, 30, 68);
}


.container {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
} 

.container:after,
.container:before {
  content: " ";
  display: table
}

.container:after {
  clear: both
}

 @media (min-width:768px) {
  .container {
      width: 750px
  }
}

@media (min-width:992px) {
  .container {
      width: 970px
  }
}

@media (min-width:1200px) {
  .container {
      width: 1170px
  }
}

/* Add a background color and some padding around the form */
.container {
  color: rgb(19, 236, 236);
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 50px;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}

.columnn {
  position: relative;
  left: 25%;
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.cardn {
  box-shadow: 0 4px 8px 0 rgb(253, 253, 253);
  margin: 8px;
}

.about-section {
  padding: 20px;
  text-align: center;
  background-color: #1760ff;
  color: white;
  border: solid 2px black;
  border-radius: 60px;
}

.containern {
  padding: 0 16px;
  color: aliceblue;
}

.containern::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.titlen {
  color: rgb(2, 255, 116);
}

.buttonn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(241, 255, 179);
  background-color: #1760ff;
  text-align: center;
  cursor: pointer;
  width: 37.8rem;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 30px;
}

.buttonn:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .columnn {
    width: 100%;
    display: block;
  }
}

table{
  table-layout: fixed;
}

button.modal-button{
  width: 90%; 
}
#ph{
  color: rgb(218, 230, 228);
  word-wrap: break-word;
}