
.about-section {
  padding: 20px;
  text-align: center;
  background-color: #1760ff;
  color: white;
  border: solid 2px black;
  border-radius: 60px;
}
#ph{
  color: rgb(218, 230, 228);
  word-wrap: break-word;
}