
<app-navbar></app-navbar>
<div class="container-fluid pb-5" style="background-color: rgb(13, 30, 68);">
  <div class=" container-fluid container-md about-section p-3 mb-4">
    <div class="container mt-2">

        <h1  class="my-4">About Us</h1>
        <p>Our platform unifies all customer data and channels in one place, delivers unprecedented speed and time to value, and is built to be intuitive and easy to use so that every brand—regardless of size and expertise—can connect with their valued customers to grow more profitably and sustainably on their own terms.</p>
        
    </div>
  </div>

  <h2 class="text-center text-white my-3" style="font-size: 40px;">Our Team</h2>
  <div class="row">
      <div class="col-11 col-sm-11 col-md-8 col-lg-5 text-center m-auto">
          <div class="card border border-3 border-secondary">
              <img class="img-fluid img-thumbnail" src="../../../assets/istockphoto-1164822188-612x612.jpg" alt="Kirtan"
                  >
              <div class="container-fluid text-white" style="background-color: rgb(13, 30, 68);">
                  <h2>Kirtan Jain</h2>
                  <p class="title text-success fs-5">Head Developer</p>
                  <p id="ph">Hey there! I'm Kirtan, a passionate web developer hailing from Virar. I find joy in exploring the ever-evolving realm of web technologies. With a keyboard as my paintbrush, I craft digital experiences that blend functionality with creativity.

                    My journey into web development started with a curiosity in coding, and it has since grown into a full-fledged love affair with creating seamless, user-friendly websites. On this site, you'll catch a glimpse of my coding adventures and projects that reflect my dedication to the craft.</p>
                  <p class="m-auto fs-4">kirtansuniljain1234@gmail.com</p>
                  <p><button class="btn btn-primary w-100">Contact</button></p>
              </div>
          </div>
      </div>

  </div>
</div>

<app-footer></app-footer>