
<div class="container-fluid">
  <button routerLink="/" class=" mt-3 btn btn-primary text-center" style="width: 100%; border-radius: 20%;">back</button>
  <div class="about-section mt-3">
      <h1  class="my-3">About Us</h1>
      <p>Our platform unifies all customer data and channels in one place, delivers unprecedented speed and time to value, and is built to be intuitive and easy to use so that every brand—regardless of size and expertise—can connect with their valued customers to grow more profitably and sustainably on their own terms.</p>
      <p>Resize the browser window to see that our all pages are responsive by the
          way.</p>
  </div>

  <h2 style="text-align:center; font-size: 40px; color: aliceblue;">Our Team</h2>
  <div class="row">
      <div class="columnn">
          <div class="cardn">
              <img height="643rem" width="643rem" src="../../../assets/istockphoto-1164822188-612x612.jpg" alt="Kirtan"
                  >
              <div class="containern">
                  <h2 class="text-center">Kirtan Jain</h2>
                  <p class="titlen">Head Developer</p>
                  <p id="ph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione fugiat tempore, vel, ab eveniet cum nihil porro laboriosam deserunt aspernatur voluptas est hic sed autem praesentium molestias expedita incidunt asperiores.</p>
                  <p style="font-size: 30px;">kirtansuniljain1234@gmail.com</p>
                  <p><button class="buttonn">Contact</button></p>
              </div>
          </div>
      </div>

  </div>
</div>