
<app-navbar></app-navbar>
<div class="container-fluid pb-5" style="background-color: rgb(13, 30, 68);">
  <div class="about-section p-3">
    <div class="container mt-2">

        <h1  class="my-3">About Us</h1>
        <p>Our platform unifies all customer data and channels in one place, delivers unprecedented speed and time to value, and is built to be intuitive and easy to use so that every brand—regardless of size and expertise—can connect with their valued customers to grow more profitably and sustainably on their own terms.</p>
        <p>Resize the browser window to see that our all pages are responsive by the
            way.</p>
    </div>
  </div>

  <h2 style="text-align:center; font-size: 40px; color: aliceblue;">Our Team</h2>
  <div class="row">
      <div class="col-4 text-center m-auto">
          <div class="card border border-3 border-secondary">
              <img class="img-fluid img-thumbnail" height="643rem" width="643rem" src="../../../assets/istockphoto-1164822188-612x612.jpg" alt="Kirtan"
                  >
              <div class="container-fluid text-white" style="background-color: rgb(13, 30, 68);">
                  <h2>Kirtan Jain</h2>
                  <p class="title text-success fs-5">Head Developer</p>
                  <p id="ph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione fugiat tempore, vel, ab eveniet cum nihil porro laboriosam deserunt aspernatur voluptas est hic sed autem praesentium molestias expedita incidunt asperiores.</p>
                  <p class="m-auto fs-4">kirtansuniljain1234@gmail.com</p>
                  <p><button class="btn btn-primary w-100">Contact</button></p>
              </div>
          </div>
      </div>

  </div>
</div>

<app-footer></app-footer>