<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-12 m-auto">

      <div id="login-box">
      <div class="logo">
        <img
        src="../../../assets/Untitled_prev_ui.png"
        height="180px"
        width="180px"
            style="margin-left: 22%"
          />
          <h1 class="mt-3 logo-caption"><span class="tweak">L</span>ogin</h1>
        </div>
        <div class="controls">
          <form>
            <input #input
              type="text"
              name="username"
              placeholder="Username"
              class="form-control"
            />
            <button
              type="button"
              (click)="handleEnter(input.value)"
              class="btn btn-default btn-block btn-custom"
            >
              Login
            </button>
          </form>
          <div>
          </div>
          <div>
            <button
              
              (click)="handleCancel()"
              type="button"
              class="btn btn-default btn-block btn-custom"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="particles-js">
  <canvas
    class="particles-js-canvas-el"
    width="761"
    height="689"
    style="width: 100%; height: 100%"
  ></canvas>
</div>
