<div class="h-100" *ngIf="music != undefined">
  <div class="mycard dv-grow card h-100 m-4">
    <img *ngIf="'music'" [src]="music.album.cover_medium" class="card-img-top img-fluid img-thumbnail" alt="...">
    <div class="card-body p-auto">
      <h5 class="card-title text-center">{{music.title}}</h5>
      <p class="card-text text-center">By {{music.artist.name}}</p>
      <p class="card-text text-center">Duration ~ {{music.duration}}s</p>
    </div>
    <audio class="pb-2 w-100" controls src="{{music.preview}}"></audio>
  </div>
</div>