<div *ngIf="music != undefined" class="ms-1 container">
  <div class="card" style="width: 20.7rem;">
    <img *ngIf="'music'" src="{{music.album.cover_medium}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{music.title}}</h5>
      <p style="font-size: 0.8rem;" class="card-text">By {{music.artist.name}}</p>
      <p style="font-size: 0.7rem;" class="card-text">Duration ~ {{music.duration}}s</p>
      <audio controls src="{{music.preview}}"></audio>
      <!-- <button (click)="onClick()" class="btn btn-primary">Go somewhere</button> -->
    </div>
  </div>
</div>