<div *ngIf="music != undefined">
  <div class="mycard dv-grow card m-4" style="min-width: 25vw;">
    <img *ngIf="'music'" [src]="music.album.cover_medium" class="card-img-top img-fluid img-thumbnail" alt="...">
    <div class="card-body p-auto">
      <h5 class="card-title fs-4 text-center">{{music.title}}</h5>
      <p class="card-text fs-6 text-center">By {{music.artist.name}}</p>
      <p class="card-text fs-6 text-center">Duration ~ {{music.duration}}s</p>
    </div>
    <audio class="pb-2 w-100" controls src="{{music.preview}}"></audio>
  </div>
</div>