<div class="container align-items-center">
  <button class="btn btn-primary p-2" (click)="handleBack()">Go back</button>
</div>

<div class="container">
  <h1>Audio Tracks</h1>
  <div *ngFor="let track of trackList; index as i" class="row" id="track-list">
    <div class="col-12 mb-3">
      <div class="card">
          <div class="card-body  d-flex flex-row">
            <div>
              <h5 class="card-title p-2 me-auto">{{track.name}}</h5>
              <h6 class="card-title p-2 me-auto">By: <span  *ngFor="let artist of track.artists">{{artist.name}} | </span></h6>
            </div>
              <p class="card-text p-2 me-auto">Duration: {{track.duration_ms}}</p>
              <button *ngIf="track.preview_url!==null" class="btn btn-primary play-button px-4 ms-auto" (click)="handlePlay(track.preview_url, track.name)">Play</button>
              <button *ngIf="track.preview_url===null" class="btn btn-primary play-button px-4 ms-auto" disabled>Play</button>
          </div>
      </div>
  </div>
  </div>
</div>

<div class="container-fluid bg-dark text-white fixed-bottom">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div id="footer-track">
                  <h2>Now Playing</h2>
                  <audio controls id="audio-player"></audio>
              </div>
          </div>
      </div>
  </div>
</div>