.jumbotron {
  background-image: url('../../assets/LinkedIn-Background-Photo-19-1.webp'); /* Replace with your image */
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
}

.footer-main{
  position: relative;
  height: 100%;
}